<section class="page-container credits-page" id="page-credits">
  <header class="topbar">
    <div class="topbar__left topbar__part">
      <button class="topbar__button" type="button" title="Back" routerLink="/">Back
        <svg class="icon icon-back"><use xlink:href="#icon-back"></use></svg>
      </button>
    </div>

    <div class="topbar__center topbar__part"><span class="topbar__title">Credits</span></div>

    <div class="topbar__right topbar__part">
      <button class="topbar__button" type="button" title="FAQ" routerLink="/faq">FAQ
        <svg class="icon icon-faq"><use xlink:href="#icon-faq"></use></svg>
      </button>
    </div>
  </header>

  <main class="credits-page__content content credits">
    <h1 class="credits__title">TravelApp is a free application that links visitors to nearby historical sites using device's geolocation</h1>

    <footer class="credits-footer"><span class="credits-footer__title">Designed and developed by</span><span class="credits-footer__name">Rodion Mescheryakov</span><span class="credits-footer__description">Front-end developer from Ukraine, Dnipro</span><a class="credits-footer__credit" href="mailto:msrodion@gmail.com">Mail me!</a></footer>
  </main>
</section>