<section class="page-container find-page" id="page-launch">
  <header class="topbar">
    <div class="topbar__left topbar__part">
      <button class="topbar__button" type="button" title="Back" (click)="goBack()">Back
        <svg class="icon icon-back"><use xlink:href="#icon-back"></use></svg>
      </button>
    </div>

    <div class="topbar__center topbar__part">
      <button class="topbar__button" type="button" title="Filter" (click)="toggleFilters()">Filter
        <svg class="icon icon-marker"><use xlink:href="#icon-marker"></use></svg>
      </button>
    </div>

    <div class="topbar__right topbar__part">
      <button class="topbar__button" type="button" title="Search" (click)="toggleSearch()">Search
        <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
      </button>
    </div>
  </header>

  <main class="find-page__content content">
    <app-map></app-map>

    <search *ngIf="isSearchOn"></search>

    <filters *ngIf="isFiltersOn" (onFiltersClose)="closeFilters()"></filters>

    <instructions *ngIf="isInstructionsOn" (onInstructionsClose)="closeInstructions()"></instructions>
  </main>
</section>