@import "../../styles/shared";

.find-page {
  &__content {}
}


.map-wrapper {
  display: flex;
  flex-grow: 1;
}


.overlay-panel--expanded {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  height: auto;
  max-height: 100%;
  flex-direction: column;
  background-color: white;
}