<section class="page-container find-page" id="page-launch">
  <header class="topbar">
    <div class="topbar__left topbar__part">
      <button class="topbar__button" type="button" title="Back" (click)="goBack()">Back
        <svg class="icon icon-back"><use xlink:href="#icon-back"></use></svg>
      </button>
    </div>

    <div class="topbar__center topbar__part">
      <button class="topbar__button" type="button" title="Filter" (click)="toggleFilters()">Filter
        <svg class="icon icon-marker"><use xlink:href="#icon-marker"></use></svg>
      </button>
    </div>

    <div class="topbar__right topbar__part">
      <button class="topbar__button" type="button" title="Search" (click)="toggleSearch()">Search
        <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
      </button>
    </div>
  </header>

  <main class="find-page__content content">
    <section class="map" id="map"></section>

    <section class="search overlay-panel" [ngClass]="{'overlay-panel--expanded': isSearchOn, 'search--expanded': isSearchResultsOn}">
      <div class="search__search-bar search-bar">
        <input #searchBox class="search-bar__input" [(ngModel)]="searchQuery" (input)="onSearchInput(searchBox.value)" type="text" placeholder="Input more than 1 letter to search">
      </div>

      <div class="search__results">
        <ul class="list">
          <li *ngFor="let sight of sights" class="list__item list-item" (click)="goToDetail(sight)">
            <div class="list-item__left list-item__side"><a class="list-item__link location-link"><img class="location-link__thumb" src="{{sight.image}}"></a></div>
            <div class="list-item__right list-item__side"><a class="list-item__link location-link">
              <h4 class="location-link__title">{{sight.title}}</h4>
              <p class="location-link__description">{{sight.shortDescription}}</p></a></div>
          </li>
        </ul>
      </div>
    </section>

    <section class="search-filters overlay-panel" [class.overlay-panel--expanded]="isFiltersOn">
      <h4 class="search-filters__title">Please select layers and backpacks to include</h4>

      <form #filterForm="ngForm" class="search-filters__form" (submit)="saveFilters(filterForm)">
        <div class="search-filters__list filters">
          <ul class="list">
            <li *ngFor="let filter of filters; let i = index" class="list__item">
              <label class="toggle-item" for="checkbox-{{i}}">
                <input [name]="filter.id" [checked]="filter.isActive" [(ngModel)]="filter.isActive" class="toggle-item__checkbox" id="checkbox-{{i}}" type="checkbox">
                <h3 class="toggle-item__title">{{filter.title}}</h3>
                <div class="toggle-item__handler toggle-item__handler--{{filter.id}}"></div>
              </label>
            </li>
          </ul>
        </div>

        <div class="search-filters__actions">
          <button class="search-filters__action search-filters__action--negative" type="button" (click)="cancelFilters()">Cancel</button>
          <button class="search-filters__action search-filters__action--positive" type="submit">Save</button>
        </div>
      </form>
    </section>

    <section class="search-instructions overlay-panel" [class.overlay-panel--expanded]="isInstructionsOn">
      <div class="search-instructions__section instructions-section">
        <h3 class="instructions-section__title">What to do</h3>
        <p class="instructions-section__text">Move the map with your finger and touch the marker icon to show sites</p>
        <div class="instructions-section__icon icon-finger-nav"></div>
      </div>

      <div class="search-instructions__section instructions-section">
        <h3 class="instructions-section__title">Location</h3>
        <p class="instructions-section__text">Click the location pin to show your exact location</p>
        <svg class="instructions-section__icon icon icon-target"><use xlink:href="#icon-target"></use></svg>
      </div>

      <div class="search-instructions__actions">
        <button class="search-instructions__accept-button" type="button" (click)="closeInstructions()">OK</button>
      </div>
    </section>
  </main>
</section>