svg(xmlns="http://www.w3.org/2000/svg", width="0", height="0", display="none")
  symbol#icon-search(viewbox="0 0 56 56")
    path(d="M55.615,54.214L39.872,38.471a23.032,23.032,0,1,0-1.4,1.4L54.215,55.614A0.99,0.99,0,0,0,55.615,54.214Zm-32.65-10.28a20.97,20.97,0,1,1,20.97-20.97A20.97,20.97,0,0,1,22.965,43.934Z")