svg(xmlns="http://www.w3.org/2000/svg", width="0", height="0", display="none")
  symbol#icon-back(viewbox="0 0 28 56")
    path(d="M27.721,54.307L2.389,28,27.721,1.693l0,0A1,1,0,1,0,26.282.309l0,0-26,27,0,0a0.988,0.988,0,0,0,0,1.383l0,0,26,27,0,0a1,1,0,1,0,1.436-1.383Z")