svg(xmlns="http://www.w3.org/2000/svg", width="0", height="0", display="none")
  symbol#icon-bell(viewbox="0 0 56 38")
    path(d="M55,36H54a1.959,1.959,0,0,1-2-2V21C52,12.927,41.788,6.361,29,6.031V2h4a1,1,0,0,0,0-2H23a1,1,0,0,0,0,2h4V6.031C14.212,6.361,4,12.927,4,21V34a1.959,1.959,0,0,1-2,2H1a1,1,0,0,0,0,2H55A1,1,0,0,0,55,36ZM6,21C6,13.82,15.85,8,28,8s22,5.82,22,13v7H6V21ZM50,36H5s1,0,1-2V30H50v4c0,2,1,2,1,2H50Z")