<section class="page-container launch-page" id="page-launch">
  <main class="launch-page__intro launch-intro">
    <h3 class="launch-intro__title">Explore history on the road</h3>

    <div class="launch-intro__slider slider">
      <div class="launch-intro__slide slide">
        <h4 class="slide__title">Share the Experience</h4>
        <p class="slide__text">{{APP_TITLE}} is a free app that links visitors to nearby historical sites using your
                               device's geolocation service</p>
      </div>
      <div class="slider__dots"></div>
    </div>
  </main>

  <footer class="launch-page__footer">
    <div class="launch-links">
      <a class="launch-links__link launch-link" routerLink="/find">
        <div class="launch-link__icon">
          <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
        </div>
        <span class="launch-link__caption">Find</span>
      </a>

      <a class="launch-links__link launch-link" routerLink="/backpacks">
        <div class="launch-link__icon">
          <svg class="icon icon-tourist"><use xlink:href="#icon-tourist"></use></svg>
        </div>
        <span class="launch-link__caption">Backpacks</span>
      </a>

      <a class="launch-links__link launch-link" routerLink="/credits">
        <div class="launch-link__icon">
          <svg class="icon icon-question"><use xlink:href="#icon-question"></use></svg>
        </div>
        <span class="launch-link__caption">About</span>
      </a>
    </div>
  </footer>
</section>