.faq-page {
  &__content {
    padding: 30px $base-side-padding;
    background: #000 url("../img/settings-bg.jpg") top left no-repeat;
  }
}



.faq {
  overflow: auto;
}

.faq-item {
  line-height: 1.3;
  font-size: 28px;

  & + & {
    margin-top: 60px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    color: #fff;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 0;
    color: #959595;
  }
}