.settings-page {
  &__content {
    display: flex;
    flex-direction: column;
    padding-right: $base-side-padding;
    padding-left: $base-side-padding;
    background: #000 url("../img/settings-bg.jpg") top left no-repeat;
  }
}



.settings-list {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 0;
  list-style: none;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #444;

  &__title {
    font-size: 28px;
    color: white;
  }
}



.radio-items {
  display: flex;
}

.radio-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: pointer;

  & + & {
    min-width: 150px;
    margin-left: 30px;
  }

  &__radiobox {
    display: none;

    &:checked ~ .radio-item__handler {
      background-color: $green;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 8px;
        height: 20px;
        border-style: solid;
        border-color: #000;
        border-width: 0 2px 2px 0;
        transform: translate(-5px, -13px) rotate(45deg);
      }
    }
  }
  
  &__title {
    font-size: 28px;
    text-align: right;
    color: #999;
  }
  
  &__handler {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    margin-left: 20px;
    border-radius: 50%;
    background-color: #bbb;

    &:after {
      content: '—';
      font-size: 33px;
    }
  }
}