<h4 class="search-filters__title">Please select layers and backpacks to include</h4>

<form #filterForm="ngForm" class="search-filters__form" (submit)="saveFilters(filterForm)">
  <div class="search-filters__list filters">
    <ul class="unstyled-list">
      <li *ngFor="let filter of filters; let i = index" class="list__item">
        <label class="toggle-item" for="checkbox-{{i}}">
          <input [name]="filter.id" [checked]="filter.isActive" [(ngModel)]="filter.isActive" class="toggle-item__checkbox" id="checkbox-{{i}}" type="checkbox">
          <h3 class="toggle-item__title">{{filter.title}}</h3>
          <div class="toggle-item__handler toggle-item__handler--{{filter.id}}"></div>
        </label>
      </li>
    </ul>
  </div>

  <div class="search-filters__actions">
    <button class="search-filters__action search-filters__action--negative" type="button" (click)="closeFilters()">Cancel</button>
    <button class="search-filters__action search-filters__action--positive" type="submit">Save</button>
  </div>
</form>