<section class="page-container location-page" id="page-launch">
  <header class="topbar">
    <div class="topbar__left topbar__part">
      <button class="topbar__button" type="button" title="Back" routerLink="/">Back
        <svg class="icon icon-back"><use xlink:href="#icon-back"></use></svg>
      </button>
    </div>

    <div class="topbar__center topbar__part">
      <button class="topbar__button" type="button" title="Map" routerLink="/find">Map
        <svg class="icon icon-map"><use xlink:href="#icon-map"></use></svg>
      </button>
    </div>

    <div class="topbar__right topbar__part">
    </div>
  </header>

  <main class="location-page__content content">
    <article class="location location--own-backpacks">
      <header class="location__header">
        <h2 class="location__title">Canterbury Mannor Long Name</h2>

        <div class="location__distance">
          <div class="location__distance-pin location-distance-pin"></div><span class="location__distance-value">100m</span>
        </div>
      </header>

      <main class="location__content">
        <div class="location__image-wrapper"><img class="location__image" src="//via.placeholder.com/800x400" alt="Canterbury Mannor"></div>

        <div class="location__description-wrapper">
          <p class="location__description">
            The General Oliver Otis Howard House is located on the campus of Howard University. Contructed between
            1867 and 1869, it was the home of Major General Oliver Otis Howard, the founder of the school and its
            first President to 1873.
          </p>

          <p class="location__description">
            The house still retains many of its decorative elements such as the high mansard roof, elaborate dormer
            windows, tower, and decorative iron balustrades.
          </p>

          <p class="location__description">
            The General Oliver Otis Howard House is located on the campus of Howard University. Contructed between
            1867 and 1869, it was the home of Major General Oliver Otis Howard, the founder of the school and its
            first President to 1873.
          </p>

          <p class="location__description">
            The house still retains many of its decorative elements such as the high mansard roof, elaborate dormer
            windows, tower, and decorative iron balustrades.
          </p>
        </div>

        <div class="location__credits location-credits">
          <h4 class="location-credits__title">Credits and Sources</h4>

          <p class="location-credits__text">Some regular, <strong>bold</strong> and <em>italic</em> credit text</p><a class="location-credits__link" href="//google.com">Some credit link</a>
        </div>
      </main>
    </article>
  </main>
</section>