extend _template

block pageTitle
  - var pageTitle = 'FAQ'
block prepend body
  body
    include svg/_icon-template
    include svg/_icon-back
    include parts/_topbar

    section#page-credits.page-container.faq-page
      +topbar('Back', 'FAQ\'s', '', 'icon-back', '%text%', '')

      main.faq-page__content.content.faq
        article.faq-item
          h3.faq-item__title What exactly is NEH?
          p.faq-item__description.
            NEH is a suite of mobile and web platforms designed to help the public discover the historic landscape around
             them.

        article.faq-item
          h3.faq-item__title Do I have to own a smartphone to use NEH?
          p.faq-item__description.
            No, all of the historical content in our database can be accessed via our website so you can plan your trip
            before you ever leave home.

        article.faq-item
          h3.faq-item__title What exactly is NEH?
          p.faq-item__description.
            NEH is a suite of mobile and web platforms designed to help the public discover the historic landscape around
             them.

        article.faq-item
          h3.faq-item__title Do I have to own a smartphone to use NEH?
          p.faq-item__description.
            No, all of the historical content in our database can be accessed via our website so you can plan your trip
            before you ever leave home.

        article.faq-item
          h3.faq-item__title Do I have to own a smartphone to use NEH?
          p.faq-item__description.
            No, all of the historical content in our database can be accessed via our website so you can plan your trip
            before you ever leave home.

        article.faq-item
          h3.faq-item__title What exactly is NEH?
          p.faq-item__description.
            NEH is a suite of mobile and web platforms designed to help the public discover the historic landscape around
             them.

        article.faq-item
          h3.faq-item__title Do I have to own a smartphone to use NEH?
          p.faq-item__description.
            No, all of the historical content in our database can be accessed via our website so you can plan your trip
            before you ever leave home.