extend _template

block pageTitle
  - var pageTitle = 'Find'
block prepend body
  body
    include svg/_icon-template
      include svg/_icon-back
      include svg/_icon-marker
      include svg/_icon-search

    section#page-launch.page-container.find-page
      header.find-page__topbar.topbar
        .topbar__left
          button.topbar__button(type="button") Back
            +icon('icon-back')

        .topbar__center
          button.topbar__button(type="button") Filter
            +icon('icon-marker')

        .topbar__right
          button.topbar__button(type="button") Search
            +icon('icon-search')

      main.find-page__content.content
        section.map

        section.search.search--expanded.overlay-panel._overlay-panel--expanded
          .search__search-bar.search-bar
            input.search-bar__input(type="text", placeholder="Tap to search")

          .search__results
            ul.list
              li.list__item.list-item
                .list-item__left.list-item__side
                  a.list-item__link.location-link(href="#")
                    img.location-link__thumb(src="//via.placeholder.com/150x150")
                .list-item__right.list-item__side
                  a.list-item__link.location-link(href="#")
                    h4.location-link__title Long title of some location
                    p.location-link__description The General Oliver Otis Howard House is located on the campus of Howardis located on the campus of Howard

              li.list__item.list-item
                .list-item__left.list-item__side
                  a.list-item__link.location-link(href="#")
                    img.location-link__thumb(src="//via.placeholder.com/150x150")
                .list-item__right.list-item__side
                  a.list-item__link.location-link(href="#")
                    h4.location-link__title Canterbury Mannor
                    p.location-link__description The General Oliver Otis Howard House is located on the campus of Howard

              li.list__item.list-item
                .list-item__left.list-item__side
                  a.list-item__link.location-link(href="#")
                    img.location-link__thumb(src="//via.placeholder.com/150x150")
                .list-item__right.list-item__side
                  a.list-item__link.location-link(href="#")
                    h4.location-link__title Canterbury Mannor
                    p.location-link__description The General Oliver Otis Howard House is located on the campus of Howard

              li.list__item.list-item
                .list-item__left.list-item__side
                  a.list-item__link.location-link(href="#")
                    img.location-link__thumb(src="//via.placeholder.com/150x150")
                .list-item__right.list-item__side
                  a.list-item__link.location-link(href="#")
                    h4.location-link__title Canterbury Mannor
                    p.location-link__description The General Oliver Otis Howard House is located on the campus of Howard

              li.list__item.list-item
                .list-item__left.list-item__side
                  a.list-item__link.location-link(href="#")
                    img.location-link__thumb(src="//via.placeholder.com/150x150")
                .list-item__right.list-item__side
                  a.list-item__link.location-link(href="#")
                    h4.location-link__title Canterbury Mannor
                    p.location-link__description The General Oliver Otis Howard House is located on the campus of Howard

        section.search-filters.overlay-panel._overlay-panel--expanded
          h4.search-filters__title Please select layers and backpacks to include

          .search-filters__list.filters
            ul.list


              mixin toggle-item(id, title, klass)
                li.list__item
                  label.toggle-item(for=id)
                    input.toggle-item__checkbox(id=id type="checkbox", name=klass)
                    h3.toggle-item__title #{title}
                    div(class="toggle-item__handler toggle-item__handler--" + klass)


              +toggle-item('checkbox-1', 'My Backpacks', 'own-backpacks')
              +toggle-item('checkbox-2', 'Archaeological Sites', 'archaeological')
              +toggle-item('checkbox-3', 'Cultural Attractions', 'attractions')
              +toggle-item('checkbox-4', 'Historic Buildings', 'buildings')
              +toggle-item('checkbox-5', 'Historic Cemeteries', 'cemeteries')
              +toggle-item('checkbox-6', 'Historic Communities', 'communities')
              +toggle-item('checkbox-7', 'Historic Sites', 'sites')
              +toggle-item('checkbox-8', 'Historic Markers', 'markers')
              +toggle-item('checkbox-9', 'Museums', 'museums')
              +toggle-item('checkbox-10', 'National Parks', 'parks')
              +toggle-item('checkbox-11', 'Natural History Sites', 'natural')

          .search-filters__actions
            button.search-filters__action.search-filters__action--negative(type="button") Cancel
            button.search-filters__action.search-filters__action--positive(type="button") Save

        section.search-instructions.overlay-panel._overlay-panel--expanded
          .search-instructions__section.instructions-section
            h3.instructions-section__title What to do
            p.instructions-section__text Move the map with your finger and touch the marker icon to show sites
            .instructions-section__icon.icon-finger-nav

          .search-instructions__section.instructions-section
            h3.instructions-section__title Location
            p.instructions-section__text Click the location pin to show your exact location
            .instructions-section__icon.icon-target

          .search-instructions__actions
            button.search-instructions__accept-button(type="button") OK