extend _template

block pageTitle
  - var pageTitle = 'Location'
block prepend body
  body
    include svg/_icon-template
    include svg/_icon-back
    include svg/_icon-map
    include parts/_topbar

    section#page-launch.page-container.location-page
      +topbar('Back', 'Map', '', 'icon-back', 'icon-map', '')

      main.location-page__content.content
        article.location.location--own-backpacks
          header.location__header
            h2.location__title Canterbury Mannor Long Name

            .location__distance
              .location__distance-pin.location-distance-pin
              span.location__distance-value 100m

          main.location__content
            .location__image-wrapper
              img.location__image(src="//via.placeholder.com/800x400", alt="Canterbury Mannor")

            .location__description-wrapper
              p.location__description
                |The General Oliver Otis Howard House is located on the campus of Howard University. Contructed between
                | 1867 and 1869, it was the home of Major General Oliver Otis Howard, the founder of the school and its
                | first President to 1873.

              p.location__description
                |The house still retains many of its decorative elements such as the high mansard roof, elaborate dormer
                | windows, tower, and decorative iron balustrades.

              p.location__description
                |The General Oliver Otis Howard House is located on the campus of Howard University. Contructed between
                | 1867 and 1869, it was the home of Major General Oliver Otis Howard, the founder of the school and its
                | first President to 1873.

              p.location__description
                |The house still retains many of its decorative elements such as the high mansard roof, elaborate dormer
                | windows, tower, and decorative iron balustrades.

            .location__credits.location-credits
              h4.location-credits__title Credits and Sources

              p.location-credits__text Some regular, <strong>bold</strong> and <em>italic</em> credit text
              a.location-credits__link(href="//google.com") Some credit link