<section class="search-instructions">
  <div class="search-instructions__section instructions-section">
    <h3 class="instructions-section__title">What to do</h3>
    <p class="instructions-section__text">Move the map with your finger and touch the marker icon to show sites</p>
    <div class="instructions-section__icon icon-finger-nav"></div>
  </div>

  <div class="search-instructions__section instructions-section">
    <h3 class="instructions-section__title">Location</h3>
    <p class="instructions-section__text">Click the location pin to show your exact location</p>
    <svg class="instructions-section__icon icon icon-target"><use xlink:href="#icon-target"></use></svg>
  </div>

  <div class="search-instructions__actions">
    <button class="search-instructions__accept-button" type="button" (click)="closeInstructions()">OK</button>
  </div>
</section>