mixin topbar(leftText, centerText, rightText, leftIcon, centerIcon, rightIcon)
  header.topbar
    .topbar__left.topbar__part
      if leftText
        button.topbar__button(type="button", title=leftText)= leftText
          +icon(leftIcon)

    .topbar__center.topbar__part
      if centerText
        button.topbar__button(type="button", title=centerText)= centerText
          +icon(centerIcon)

    .topbar__right.topbar__part
      if rightText
        button.topbar__button(type="button", title=rightText)= rightText
          +icon(rightIcon)