$green: #3ac89e;
$blue: #4bafe3;

// Sight types
$own-backpacks: $blue;
$archaeological: #ee1c25;
$attractions: #f36523;
$buildings: #ffcc00;
$cemeteries: #7d7d7d;
$communities: #8781bd;
$sites: #f06eaa;
$markers: #a0309e;
$museums: #0072bb;
$parks: #a67c52;
$natural: #3ab54a;