.search-bar {
  padding: 20px 40px;
  background-color: $green;

  &__input {
    width: 100%;
    height: 56px;
    border: none;
    font-weight: 100;
    font-size: 36px;
    letter-spacing: 1px;
    color: white;
    background-color: transparent;
    outline: none;

    // Chrome/Opera/Safari
    &::-webkit-input-placeholder {
      color: white;
    }

    // Firefox 19+
    &::-moz-placeholder {
      color: white;
    }

    // IE 10+
    &:-ms-input-placeholder {
      color: white;
    }
  }
}