<section class="page-container backpacks-page" id="page-launch">
  <header class="topbar">
    <div class="topbar__left topbar__part">
      <button class="topbar__button" type="button" title="Back" routerLink="/">Back
        <svg class="icon icon-back"><use xlink:href="#icon-back"></use></svg>
      </button>
    </div>

    <div class="topbar__center topbar__part">
      <button class="topbar__button" type="button" title="Map" routerLink="/find">Map
        <svg class="icon icon-map"><use xlink:href="#icon-map"></use></svg>
      </button>
    </div>

    <div class="topbar__right topbar__part">
      <button class="topbar__button" type="button" title="Search">Search
        <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
      </button>
    </div>
  </header>

  <main class="backpacks-page__content content">
    <section class="backpacks-search">
      <div class="backpacks-search__search-bar search-bar">
        <input class="search-bar__input" type="text" placeholder="Tap to search backpacks">
      </div>

      <div class="backpacks-search__results">
        <section class="backpacks backpacks--own">
          <h4 class="backpacks__title">Your Backpacks</h4>

          <ul class="backpacks-search__results-list backpacks-list">
            <li class="backpacks-list__item backpacks-list-item"><a class="backpacks-list-item__link backpack-link" href="#">Yellowstone National Park</a></li>
            <li class="backpacks-list__item backpacks-list-item"><a class="backpacks-list-item__link backpack-link" href="#">Washington DC Monuments</a></li>
          </ul>
        </section>

        <section class="backpacks backpacks--public">
          <h4 class="backpacks__title">Public Backpacks</h4>

          <ul class="backpacks-search__results-list backpacks-list">
            <li class="backpacks-list__item backpacks-list-item">
              <a class="backpacks-list-item__link backpack-link" href="#">Atlanta National Regional Parks</a>
            </li>

            <li class="backpacks-list__item backpacks-list-item">
              <a class="backpacks-list-item__link backpack-link" href="#">Lewis and Clark in Montana</a>
            </li>

            <li class="backpacks-list__item backpacks-list-item">
              <a class="backpacks-list-item__link backpack-link" href="#">Atlanta National Regional Parks</a>
            </li>

            <li class="backpacks-list__item backpacks-list-item">
              <a class="backpacks-list-item__link backpack-link" href="#">Lewis and Clark in Montana</a>
            </li>

            <li class="backpacks-list__item backpacks-list-item">
              <a class="backpacks-list-item__link backpack-link" href="#">Atlanta National Regional Parks</a>
            </li>

            <li class="backpacks-list__item backpacks-list-item">
              <a class="backpacks-list-item__link backpack-link" href="#">Lewis and Clark in Montana</a>
            </li>

            <li class="backpacks-list__item backpacks-list-item">
              <a class="backpacks-list-item__link backpack-link" href="#">Atlanta National Regional Parks</a>
            </li>

            <li class="backpacks-list__item backpacks-list-item">
              <a class="backpacks-list-item__link backpack-link" href="#">Lewis and Clark in Montana</a>
            </li>
          </ul>
        </section>
      </div>
    </section>
  </main>
</section>